@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #050505;
  --secondary-color: #fff;
  --grey: #c0c0c0;
  --purple: #d8b3f4;
  --darkPurple: #a334ed;
  --montserrat: 'Montserrat', sans-serif;
  --sans: 'Arial', sans-serif;
  --serif: 'Times New Roman', serif;
  --bgTheme: #757575;
  --whiteShade: #f4f4f4;
  --greyLine: #e9e9e9;
  --link: #2d2d2d;
  --moonColor: #757575;
  --current-font-family: var(--serif);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--current-font-family);
}

[data-theme="dark"] {
  --primary-color: #fff;
  --secondary-color: #050505;
  --whiteShade: #1f1f1f;
  --link: #fff;
  --moonColor: #a334ed;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-color);
  transition: transform 1s ease-in-out;
}


.grey {
  background-color: var(--bgTheme);
}

.purple {
  background-color: var(--darkPurple);
}

.translate {
  transform: translateX(1.66rem);
}

.notranslate {
  transform: translateX(5px);
}
