.container {
  width: calc(16rem + 25vw);
  margin-block: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.book {
  color: var(--grey);
  font-size: 2rem;
}

.headFlex {
  display: flex;
  gap: 2rem;
}

.dropdowncontainer {
  position: relative;
}

.dropdownCover {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdowncontainer span {
  outline: none;
  width: auto;
  color: var(--primary-color);
}

.dropdowncontainer p {
  color: var(--primary-color);
}

.down {
  color: var(--darkPurple);
}


.theme {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  height: 1.5rem;
  width: 3rem;
  border-width: 2px;
  border-color: transparent;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  outline: none;
}

.circle {
  position: absolute;
  pointer-events: none;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: white;
  outline: 0;
  top: .25rem;
  transition: transform 0.2s ease-in-out;
}

.moon {
  font-size: 1.5rem;
  color: var(--moonColor);
}

.inputContainer {
  position: relative;
  margin-bottom: 3rem;
}

.input {
  width: 100%;
  padding: 1rem;
  background-color: var(--whiteShade);
  color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1rem;
}

.input::placeholder {
  font-weight: 600;
}

.searchCover {
  position: absolute;
  top: .75rem;
  right: 1.5rem;
}

.search {
  color: var(--darkPurple);
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word {
  font-size: calc(1.25rem + 2.55vw);
  text-transform: capitalize;
  color: var(--primary-color);
}

.phonics {
  font-size: 1.1rem;
  color: var(--darkPurple);
  margin-top: .5rem;
}


.playIcon {
  color: var(--darkPurple);
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 0px 10px var(--purple);
  border: none;
  border-radius: 9999px;
  background-color: var(--purple);
}

.playIcon:hover {
  color: var(--secondary-color);
}

.speechContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.speech {
  margin-block: 1rem;
  font-size: 1.3rem;
  font-style: italic;
  color: var(--primary-color);
}

.hr {
  width: 100%;
  background-color: var(--greyLine);
}

.meaning {
  color: var(--bgTheme);
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.list {
  margin-left: 2rem;
}

.list li {
  list-style-position: outside;
  margin-bottom: 1.25rem;
  font-size: 1.05rem;
  color: var(--link);
}

.list li::marker {
  color: var(--darkPurple);
}

.text {
  color: var(--bgTheme);
  font-size: 1.1rem;
  font-weight: 400;
}

.synonym {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--darkPurple);
  text-transform: capitalize;
}

.source {
  color: var(--bgTheme);
  font-size: .85rem;
  font-weight: 600;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .85rem;
  color: var(--link);
}

.linkIcon {
  color: var(--greyLine);
}

/* @media screen and (max-width: 768px) {
  .container {
    width: 85%;
  }
} */